:root {
    --backgroundColor: #0a192f;
    --fontForMobile: 26px;
    --fontForWeb: 36px;
    --fontForMobileP: 16px;
    --fontForWebP: 16px;
    --greenColor: #64ffda;
    --navColor: #112240;
    --colorParag: #8892b0;
    --fontForPar: 'Poppins';
}

body {
    background-color: #0a192f;
    margin: 0;
}
h3{
    cursor: default;
}
h1 {

    color: aliceblue;
    font-size: 28px;
    margin: 0;
}

h4 {
    color: var(--greenColor);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: aliceblue;
    font-size: 28px;
    margin: 0;
}

p {
    color: var(--colorParag);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

span {
    color: var(--greenColor);
}

li {
    font-family: 'Poppins';
    color: aliceblue;
    font-size: 13px;
}

a {
    color: #e6f1ff;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.logo {
    width: 70px;
    height: 60px;
    background-image: url(./img/akLogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px;
    margin-top: 20px;
}

.logoFixed {
    position: fixed;
    top: 5%;
    left: 5%;
}

.navForMobile {
    position: fixed;
    right: 0;
    top: -4%;
    z-index: 5;
    width: 70%;
    background-color: var(--navColor);
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-top: 5px;

}

.navForMobileAni {
    animation: navForMobileAni 1s ease-in-out 0s 1 alternate;
}

@keyframes navForMobileAni {
    from {
        margin-right: -100%;
    }

    to {
        margin-right: 0%;
    }
}

.navForMobileAniBack {
    animation: navForMobileAniBack 1s ease-in-out 0s 1 alternate;
}

@keyframes navForMobileAniBack {
    from {
        margin-right: 0%;
    }

    to {
        margin-right: -100%;
    }
}

#btnForMobile {
    z-index: 10;
    width: 40px;
    height: 20px;
    margin: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 15px;
}

.btnFixed {}

nav {
    z-index: 30;

}

.navHideScroll {
    display: none;
}

.navShowScroll {

    position: fixed;
    display: flex;
    top: 0px;
}

.boxForNav {
    box-shadow: 2px 2px 5px #002760;
}

#btnForMobile div {
    background-color: var(--greenColor);
    border-radius: 30px;
    height: 3px;
    position: absolute;
}

.shortLine {
    width: 50%;
    top: 100%;
}

.shortLineAni {
    animation: shortLineBtn 1s ease 0s 1 alternate;
}

@keyframes shortLineBtn {
    from {
        top: 100%;
        background-color: var(--greenColor);
    }

    to {
        top: 50%;
        width: 70%;
    }
}

.middleLine {
    width: 70%;
    top: 50%;
}

.longLine {
    width: 90%;
    top: 0%;
}

.longLineAni {
    animation: longLineBtn 1s ease 0s 1 alternate;
}

.show {
    display: block;
}

@keyframes longLineBtn {
    from {
        top: 0%;
        background-color: var(--greenColor);
    }

    to {
        background-color: #0a192f;
        top: 50%;
        width: 70%;
    }
}

.longLineAni2 {
    animation: longLine2Btn 1s ease 0s 1 alternate-reverse;
}

@keyframes longLine2Btn {
    from {
        top: 0%;
        background-color: var(--greenColor);
    }

    to {
        background-color: var(--greenColor);
        top: 50%;
        width: 70%;
    }
}

.shortLineAni2 {
    animation: shortLine2Btn 1s ease 0s 1 alternate-reverse;
}

@keyframes shortLine2Btn {
    from {
        top: 100%;
        background-color: var(--greenColor);
    }

    to {
        top: 50%;
        width: 70%;
    }
}

.navBarLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navBarLinks h3 {
    margin: 2px;
    color: var(--greenColor);
}

.navBarLinks a {
    text-decoration: none;
}

.blurMain {
    background-color: transparent;
    opacity: 0.5;
    backdrop-filter: blur(1.5rem);
}

#greeting {
    width: 80%;
    height: 100vh;
    padding: 25px;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 150px;
    gap: 10px;
}

.motive {
    font-family: 'Permanent Marker', cursive;
    color: var(--colorParag);
}

.btn {
    background-color: transparent;
    padding: 10px 14px;
    width: 50%;
    color: var(--greenColor);
    font-size: 15px;
    border: groove 1px var(--greenColor)

}

.btn a {
    text-decoration: none;
    color: var(--greenColor);
}

#aboutMe {
    width: 90%;
    height: 120vh;
    padding: 20px;
}

.lineAfterHeader {
    width: 100%;
    height: 2px;
    background-color: var(--colorParag);
    opacity: 0.3;
}

#aboutMe p {
    font-size: 18px;
}

.listOfSkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
}

.listOfSkills li {
    width: 40%;
    margin: 10px;
}

#profilePictureDiv {
    position: relative;
    width: 60%;
    display: flex;
    margin: auto;
}

#profilePictureDiv img {
    width: 100%;
    border-radius: 5px;
}

.imgFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    top: 5%;
    left: 5%;
    z-index: -10;
    box-shadow: 1px 1px 10px var(--greenColor);
}

.imgFrameAni {
    animation: frameAni 1s ease-in-out 0s 1 alternate;
}

.imgFrameRev {
    animation: frameAni 3s ease-in-out 3s 1 alternate-reverse;
}

@keyframes frameAni {
    from {
        box-shadow: 1px 1px 1px var(--greenColor);
    }

    to {
        box-shadow: 0px 0px 10px
    }
}

.imgOpacity {
    width: 100%;
    height: 100%;
    background-color: var(--greenColor);
    position: absolute;
    top: 0%;
    opacity: 0.3;
    border-radius: 5px;
}

#projects {
    width: 90%;
    height: 800px;
    font-size: 15px;
}

#projectsList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 2px;
    color: var(--colorParag);
    font-weight: bold;
    gap: 15px;

}

.lineUnder {
    width: 100%;
    height: 2px;
    position: relative;
    top: 0%;
    display: flex;
}

.left {
    width: 30%;
    height: 100%;
    background-color: var(--colorParag);

}

.right {
    width: 70%;

    height: 100%;
    background-color: var(--colorParag);
}

.middle {
    background-color: var(--greenColor);
}

#certificate {
    width: 90%;
    height: 1200px;
    margin-top: 20px;

}

.projectContainer {
    z-index: 10;
    background-color: #0a192f;
    width: 100%;
    margin: auto;
    position: relative;
    top: 0px;
    max-height: 100px;
    overflow: scroll;
    box-shadow: 2px 2px 5px #002760;
}

.projectContainer h3 {
    color: var(--greenColor);
    margin: 5px;
    font-size: 14px;
}

.projectContainer ol {}

.projectContainer ol li {
    color: var(--colorParag);
    font-size: 12px;
    margin-bottom: 5px;
}

.projectContainer ol li::marker {
    color: var(--greenColor);
}

.scrollDownBaby {
    background-image: url(./img/scroll.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5%;
    top: 55%;

}

#contentForProject {
    position: relative;
    z-index: 12;
    display: flex;
    flex-direction: column;
}

.iconForProject {
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    right: 5%;
    top: 10%;

}

.video {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 0%;
    z-index: -10;

}

.btnForProjects {
    width: 190px;
    padding: 5px 20px;
    position: relative;
    margin: auto;
    margin-top: 5px;
}

.certificateContainer {
    margin: 50px 22px;
    box-shadow: 2px 2px 5px #002760;
    padding: 11px;
}

.skillLevel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skillLevel h3 {
    color: var(--greenColor);
    margin-left: 20px;

}

.skillLevel img {
    width: 30px;
    height: 30px;
}

.skillsz {
    margin: 30px 5px;
    text-align: start;
    font-size: 20px;
    list-style: circle outside;
    margin: 0;


}

.skillsz li {
    margin-bottom: 10px;
    color: var(--colorParag);
    position: relative;
    padding-inline-start: 1ch;

}

.skillsz li::marker {
    content: url(./img/angle-up.png);
    height: 20px;
}

.certificateBtn {
    height: auto;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}

#getInTouch {
    width: 90%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#getInTouch p {
    text-align: center;
    width: 80%;
}

#socialContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

#socialContainer img {
    width: 20px;
}

#socialContainer p {
    text-align: center;
    align-items: center;
}

.textArea {
    width: 80%;
    min-height: 200px;
    margin: 10px;
    background-color: var(--colorParag);
    color: aliceblue;
    font-size: 16px;
    padding: 20px;
}

.sayHello {
    width: 220px;
    padding: 8px 50px;
}

.sayHello a {
    text-decoration: none;
    color: var(--greenColor);
}

#socialNetworks{
    display: none;
}
#emailLine{
    display: none;
}

@media(min-width:600px) {

    h1 {
        font-size: var(--fontForWeb);
        color: antiquewhite;
        font-size: 40px;
    }

    p {
        font-size: var(--fontForWebP);
        font-size: 20px;
    }
    h4{
        font-size: 20px;
    }

    main {
        padding: 0 20%;
    }

    nav {
        height: 95px;
        font-size: 12px;
        background-color: var(--backgroundColor);
    }

    .logo {
        width: 100px;
        height: 110px;
    }

    .navForMobile {
        display: flex;
        flex-direction: row;
        z-index: 5;
        width: 50%;
        position: relative;
        background-color: transparent;
        height: 100px;
    }

    .boxForNav {
        box-shadow: 5px 5px 15px #002760;
    }

    .navBarLinks {
        flex-direction: row;
        align-items: center;
    }
    .navBarLinks a{
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    }
    .navBarLinksHover a{
        color: var(--greenColor);
    }

    .btnForWeb {
        font-size: 14px;
        border: groove 1px  var(--greenColor);
        padding: 11px 22px;
        border-radius: 3px;
    }
    .btnForWeb a{
        color: var(--greenColor);
    }
    .btnForWebHover a{
        font-size: 14px;
        backdrop-filter: blur(1px);
        color: whitesmoke;
        
    }
    .btnForWebHover {
        font-size: 9px;
        border: groove 1px  whitesmoke;
        padding: 11px 22px;
        border-radius: 3px;
    }
    .backGroundResume{
        background-color: #014032;
        backdrop-filter: blur(21px);
    }
    .btnForWebGreen a{
        color: var(--greenColor);
    }
    .projects{
        cursor:pointer;
    }
    #greeting{
        margin-top: 90px;
    }
    #emailLine{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 30%;
        right: -6%;
    }
    .line{
        transform: rotate(180deg);
        width: 2px;
        height: 135px;
        background-color: var(--colorParag);
        position: fixed;
        bottom: 0%;
        right: 1.6%;
    }
    #emailLine p{
        transform: rotate(90deg);
    }
    #socialNetworks{

    }
    #socialNetworks div{

    }
}