:root{
    --backgroundColor : #0a192f;
    --fontForMobile: 26px;
    --fontForWeb: 36px;
    --fontForMobileP: 16px;
    --fontForWebP:16px;
}
body{
    background-color: #0a192f;
    margin: 0;
}
h1{
    font-size: var(--fontForMobile);
    color: red
}
p{
    font-size: var(--fontForMobileP);
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
#navForMobile{
    display: none;
}
#btnForMobile{
    width: 40px;
    height: 60px;
}
.shortLine{
    width: 100%;
    height: 5px;
    color: green;
    
}
.middleLine{

}
.longLine{

}



@media(min-width:600px){
    
    h1{
        font-size: var(--fontForWeb);
        color: antiquewhite;
    }
    p{
        font-size: var(--fontForWebP);
    }
    
}
