:root {
    --backgroundColor: #0a192f;
    --fontForMobile: 26px;
    --fontForWeb: 36px;
    --fontForMobileP: 16px;
    --fontForWebP: 16px;
    --greenColor: #64ffda;
    --navColor: #112240;
    --colorParag: #8892b0;
    --fontForPar: 'Poppins';
    --fontPermanent: 'Permanent Marker', cursive;
    --fontCaveat: 'Racing Sans One', cursive;
}

body {
    background-color: #0a192f;
    margin: 0;
}
h3{
    cursor: default;
}
.myName{

    color: var(--greenColor);
    font-size: 28px;
    margin: 0;
}

.h4 {
    color: var(--colorParag);
    font-size: 17px;
    font-family: var(--fontCaveat);
}

h1 {
    font-family: var(--fontPermanent);
    color: aliceblue;
    font-size: 28px;
    margin: 0;
}

.pGreeting{
    color: var(--colorParag);
    font-size: 17px;
    font-family: var(--fontCaveat);

}
p{
    color: var(--colorParag);
    font-size: 13px;
    font-family: var(--fontForPar);
}
#emailLine p{
    color: var(--colorParag);
}

span {
    color: var(--greenColor);
}

li {
    font-family: 'Poppins';
    color: aliceblue;
    font-size: 13px;
}

a {
    color: #e6f1ff;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.logo {
    width: 70px;
    height: 60px;
    background-image: url(./img/akLogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px;
    margin-top: 20px;
}

.logoFixed {
    position: fixed;
    top: 5%;
    left: 5%;
}

.navForMobile {
    position: fixed;
    right: 0;
    top: -4%;
    z-index: 5;
    width: 70%;
    background-color: var(--navColor);
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-top: 5px;

}

.navForMobileAni {
    animation: navForMobileAni 1s ease-in-out 0s 1 alternate;
}

@keyframes navForMobileAni {
    from {
        margin-right: -100%;
    }

    to {
        margin-right: 0%;
    }
}

.navForMobileAniBack {
    animation: navForMobileAniBack 1s ease-in-out 0s 1 alternate;
}

@keyframes navForMobileAniBack {
    from {
        margin-right: 0%;
    }

    to {
        margin-right: -100%;
    }
}

#btnForMobile {
    z-index: 10;
    width: 40px;
    height: 20px;
    margin: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 15px;
}

.btnFixed {}

nav {
    z-index: 30;

}

.navHideScroll {
    display: none;
}

.navShowScroll {

    position: fixed;
    display: flex;
    top: 0px;
}

.boxForNav {
    box-shadow: 2px 2px 5px #002760;
    background-color: var(--backgroundColor);
}

#btnForMobile div {
    background-color: var(--greenColor);
    border-radius: 30px;
    height: 3px;
    position: absolute;
}

.shortLine {
    width: 50%;
    top: 100%;
}

.shortLineAni {
    animation: shortLineBtn 1s ease 0s 1 alternate;
}

@keyframes shortLineBtn {
    from {
        top: 100%;
        background-color: var(--greenColor);
    }

    to {
        top: 50%;
        width: 70%;
    }
}

.middleLine {
    width: 70%;
    top: 50%;
}

.longLine {
    width: 90%;
    top: 0%;
}

.longLineAni {
    animation: longLineBtn 1s ease 0s 1 alternate;
}

.show {
    display: block;
}

@keyframes longLineBtn {
    from {
        top: 0%;
        background-color: var(--greenColor);
    }

    to {
        background-color: #0a192f;
        top: 50%;
        width: 70%;
    }
}

.longLineAni2 {
    animation: longLine2Btn 1s ease 0s 1 alternate-reverse;
}

@keyframes longLine2Btn {
    from {
        top: 0%;
        background-color: var(--greenColor);
    }

    to {
        background-color: var(--greenColor);
        top: 50%;
        width: 70%;
    }
}

.shortLineAni2 {
    animation: shortLine2Btn 1s ease 0s 1 alternate-reverse;
}

@keyframes shortLine2Btn {
    from {
        top: 100%;
        background-color: var(--greenColor);
    }

    to {
        top: 50%;
        width: 70%;
    }
}

.navBarLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navBarLinks h3 {
    margin: 2px;
    color: var(--greenColor);
}

.navBarLinks a {
    text-decoration: none;
}

.blurMain {
    background-color: transparent;
    opacity: 0.5;
    backdrop-filter: blur(1.5rem);
}

#greeting {
    width: 80%;
    height: 100vh;
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: 150px;
    gap: 10px;
}

.motive {
    font-family: 'Permanent Marker', cursive;
    color: aliceblue;
    font-size: 23px;
}

.btn {
    background-color: transparent;
    padding: 10px 14px;
    width: 50%;
    color: var(--greenColor);
    font-size: 15px;
    border: groove 1px var(--greenColor);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-family: var(--fontPermanent)
}
.btn:hover{
    background-color: var(--greenColor);
    color: aliceblue;
}

.btn a {
    
    color: var(--greenColor);
}
.btn a:hover{
    color: aliceblue;
}

#aboutMe {
    width: 90%;
    height: 800px;
    padding: 20px;
}

.lineAfterHeader {
    width: 100%;
    height: 2px;
    background-color: var(--colorParag);
    opacity: 0.3;
}

#aboutMe p {
    font-size: 18px;
}

.listOfSkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.listOfSkills li {
    width: 40%;
    margin: 10px;
}

#profilePictureDiv {
    position: relative;
    width: 60%;
    display: flex;
    margin: auto;
}

#profilePictureDiv img {
    width: 100%;
    border-radius: 5px;
}

.imgFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    top: 0%;
    left: 5%;
    z-index: -10;
    box-shadow: 1px 1px 10px var(--greenColor);
}

.imgFrameAni {
    animation: frameAni 1s ease-in-out 0s 1 alternate;
}

.imgFrameRev {
    animation: frameAni 3s ease-in-out 3s 1 alternate-reverse;
}

@keyframes frameAni {
    from {
        box-shadow: 1px 1px 1px var(--greenColor);
    }

    to {
        box-shadow: 0px 0px 10px
    }
}

.imgOpacity {
    width: 100%;
    height: 100%;
    background-color: var(--greenColor);
    position: absolute;
    top: 0%;
    opacity: 0;
    border-radius: 5px;
}

#projects {
    width: 90%;
    height: 800px;
    font-size: 15px;
}

#projectsList {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 2px;
    color: var(--colorParag);
    font-weight: bold;
    gap: 15px;

}

.lineUnder {
    width: 100%;
    height: 2px;
    position: relative;
    top: 0%;
    display: flex;
}

.left {
    width: 30%;
    height: 100%;
    background-color: var(--colorParag);

}

.right {
    width: 70%;

    height: 100%;
    background-color: var(--colorParag);
}

.middle {
    background-color: var(--greenColor);
}

#certificate {
    width: 90%;
    height: 1200px;
    margin-top: 20px;

}

.projectContainer {
    z-index: 10;
    background-color: #0a192f;
    width: 100%;
    margin: auto;
    position: relative;
    top: 0px;
    max-height: 100px;
    overflow: scroll;
    box-shadow: 2px 2px 5px #002760;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px var(--greenColor);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color:var(--greenColor);
    
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--colorParag);
    
}

.projectContainer h3 {
    color: var(--greenColor);
    margin: 5px;
    font-size: 14px;
}

.projectContainer ol {}

.projectContainer ol li {
    color: var(--colorParag);
    font-size: 12px;
    margin-bottom: 5px;
}

.projectContainer ol li::marker {
    color: var(--greenColor);
}

.scrollDownBaby {
    background-image: url(./img/scroll.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5%;
    top: 55%;

}

#contentForProject {
    position: relative;
    z-index: 12;
    display: flex;
    flex-direction: column;
}

.iconForProject {
    width: 20px;
    height: 20px;
    background-size: cover;
    position: absolute;
    right: 5%;
    top: 20px;
    cursor: pointer;

}

.video {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 100px;
    z-index: -10;

}

.btnForProjects {
    width: 190px;
    padding: 5px 20px;
    position: relative;
    margin: auto;
    margin-top: 5px;
}

.certificateContainer {
    margin: 50px 22px;
    box-shadow: 2px 2px 5px #002760;
    padding: 11px;
}

.skillLevel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.skillLevel h3 {
    color: var(--greenColor);
    margin-left: 20px;

}

.skillLevel img {
    width: 30px;
    height: 30px;
}

.skillsz {
    margin: 30px 5px;
    text-align: start;
    font-size: 20px;
    list-style: circle outside;
    margin: 0;


}

.skillsz li {
    margin-bottom: 10px;
    color: var(--colorParag);
    position: relative;
    padding-inline-start: 1ch;

}

.skillsz li::marker {
    content: url(./img/angle-up.png);
    height: 20px;
}

.certificateBtn {
    height: auto;
    font-size: 14px;
    padding: 5px;
    margin: 5px;
}

#getInTouch {
    width: 90%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#getInTouch p {
    text-align: center;
    width: 80%;
}

#socialContainer {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 30px;
    align-items: center;
    justify-content: center;
}

#socialContainer img {
    width: 20px;
}

#socialContainer p {
    text-align: center;
    align-items: center;
}

.textArea {
    width: 80%;
    min-height: 200px;
    margin: 10px;
    background-color: var(--colorParag);
    color: aliceblue;
    font-size: 16px;
    padding: 20px;
}

.sayHello {
    width: 220px;
    padding: 8px 50px;
}

.sayHello a {
    text-decoration: none;
    color: var(--greenColor);
}

#socialNetworks{
    display: none;
}
#emailLine{
    display: none;
}
.footer{
    font-size: 12px;
}

@media(min-width:600px) {

    .myName {
        font-size: var(--fontForWeb);
        font-size: 40px;
    }

    p {
        font-size: var(--fontForWebP);
        font-size: 20px;
    }
    h4{
        font-size: 20px;
    }

    main {
        padding: 0 20%;
    }

    nav {
        height: 95px;
        font-size: 12px;
        background-color: var(--backgroundColor);
    }

    .logo {
        width: 100px;
        height: 110px;
    }

    .navForMobile {
        display: flex;
        flex-direction: row;
        z-index: 5;
        width: 50%;
        position: relative;
        background-color: transparent;
        height: 100px;
    }

    .boxForNav {
        box-shadow: 5px 5px 15px #002760;
    }

    .navBarLinks {
        flex-direction: row;
        align-items: center;
    }
    .navBarLinks a{
        text-align: center;
        font-family: 'Permanent Marker', cursive;
    }
    .navBarLinksHover a{
        color: var(--greenColor);
    }

    .btnForWeb {
        font-size: 14px;
        border: groove 1px  var(--greenColor);
        padding: 11px 22px;
        border-radius: 3px;
    }
    .btnForWeb a{
        color: var(--greenColor);
    }
    .btnForWebHover a{
        font-size: 14px;
        backdrop-filter: blur(1px);
        color: whitesmoke;
        
    }
    .btnForWebHover {
        font-size: 9px;
        border: groove 1px  whitesmoke;
        padding: 11px 22px;
        border-radius: 3px;
    }
    .backGroundResume{
        background-color: #014032;
        backdrop-filter: blur(21px);
    }
    .btnForWebGreen a{
        color: var(--greenColor);
    }
    #aboutMe{
        height: 700px;
    }
    .projects{
        cursor:pointer;
    }
    #greeting{
        margin-top: 0px;
    }
    #emailLine{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0%;
        right: -6%;
        gap: 90px;
        cursor: pointer;
    }
    #emailLine p{
        transform: rotate(90deg);
    }
    #emailLine:hover p{
        color: var(--greenColor);
    }
    #emailLine:hover div{
        background-color: var(--greenColor);
    }
    .line{
        transform: rotate(180deg);
        width: 2px;
        height: 135px;
        background-color: var(--colorParag);
        position: relative;
        left: 49%;
       
    }
    .lineColor{
        background-color: var(--greenColor);
    }
    
    .emailColor{
        color: var(--greenColor);
        margin-bottom: 5px;
    }
    #socialNetworks{
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 5%;
        bottom: 0%;
        gap: 10px;
    }
    #socialNetworks div{

    }
    .socialNetworks img{
        width: 30px;
        height: 40px;
        background-image: url('https://iconscout.com/icon/linkedin-160');
        background-size: contain;
    }
   
    .github{
        background-image: url(./img/github.png);
        width: 20px;
        height: 20px;
        background-size: contain;
        
    }
    .githubHover{
        background-image: url(./img/githubHover.png);
        margin-bottom: 5px;
        cursor: pointer;
    }
    .insta{
        background-image: url(./img/instagramweb.png);
        width: 20px;
        height: 20px;
        background-size: contain;
    }
    .instaHover{
        background-image: url(./img/instagramHover.png);
        margin-bottom: 5px;
        cursor: pointer;
    }
    .twiter{
        background-image: url(./img/twitter.png);
        width: 20px;
        height: 20px;
        background-size: contain;
    }
    .twiterHover{
        background-image: url(./img/twitterHover.png);
        margin-bottom: 5px;
        cursor: pointer;
    }
    .linkedIn{
        background-image: url(./img/linkedinweb.png);
        width: 20px;
        height: 20px;
        background-size: contain;
    }
    .linkedInHover{
        background-image: url(./img/linkedinHover.png);
        margin-bottom: 5px;
        cursor: pointer;
    }
    .facebook{
        background-image: url(./img/facebookWeb.png);
        width: 20px;
        height: 20px;
        background-size: contain;
    }
    .facebookHover{
        background-image: url(./img/facebookForWebHover.png);
        margin-bottom: 5px;
        cursor: pointer;
    }
    .fadeOut {
        animation: fadeOuts 2s ease-in-out 0s 1 alternate;
    }
    
    @keyframes fadeOuts {
        from {
            bottom: -50%;
        }
    
        to {
            bottom: 0%;
        }
    }
    #canvasForLogo{
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 5%;
        left: 15%;
        margin: 0 auto;
        z-index: -5;
    }
    .point{
        width: 15px;
        height: 15px;
        background-color: var(--greenColor);
        border-radius: 50px;
        filter: blur(4px);
        position: absolute;
        top: 90%;
        left: 10%;
        opacity: 0.1;
    }
    .actionOne{
        
        animation: action1 1s ease-in-out 0s 1 alternate;
    }
    .actionOne::after{
        background-color: white;
    }
    .actionOne::before{
        background-color: white;
    }
    .actionTwo{
        animation: action2 0.5s ease-in-out 0s 1 alternate;
    }
    .actionThree{
        animation: action3 0.5s ease-in-out 0s 1 alternate;
    }
    .actionFour{
        animation: action4 0.5s ease-in-out 0s 1 alternate;
    }
    .actionFive{
        animation: action5 0.5s ease-in-out 0s 1 alternate;
    }
    
    .actionSix{
        animation: action6 0.5s ease-in-out 0s 1 alternate;
    }
    .actionSeven{
        animation: action7 0.5s ease-in-out 0s 1 alternate;
    }
    
    .actionEight{
        animation: action8 0.5s ease-in-out 0s 1 alternate;
    }
    .actionNine{
        animation: action9 0.5s ease-in-out 0s 1 alternate;
    }
    .actionTen{
        animation: action10 0.5s ease-in-out 0s 1 alternate;
    }
    .fillLine{
        background-color: var(--colorParag);
    }
    @keyframes action10 {
        from {
            top: 90% ;
            left: 12%;
        }
    
        to {
            top: 90% ;
            left: 10%;
        }
    }
    @keyframes action9 {
        from {
            top: 60% ;
            left: 21%;
        }
    
        to {
            top: 90% ;
            left: 12%;
        }
    }
    @keyframes action8 {
        from {
            top: 80%;
            left: 28%;
        }
    
        to {
            top: 60% ;
            left: 21%;
        }
    }
    @keyframes action7 {
        from {
            top: 80%;
            left: 13%;
        }
    
        to {
            top: 80%;
            left: 28%;
        }
    }
    @keyframes action6 {
        from {
            top: 60%;
            left: 19%;
        }
    
        to {
            top: 80%;
            left: 13%;
        }
    }
    @keyframes action5 {
        from {
            top: 90%;
            left: 29%;
        }
    
        to {
            top: 60%;
            left: 19%;
        }
    }
    @keyframes action4 {
        from {
            top: 90%;
            left: 31%;
        }
    
        to {
            top: 90%;
            left: 29%;
        }
    }
    @keyframes action3 {
        from {
            top: 87.5%;
            left: 30%;
        }
    
        to {
            top: 90%;
            left: 31%;
        }
    }
   
    @keyframes action2 {
        from {
            top:87.5%;
            left :11%
            
        }
    
        to {
            top:87.5%;
            left :30%
            
        }
    }
    @keyframes action1 {
        from {
            top:90%;
            left :10%
        }
    
        to {
            top:87.5%;
            left :11%
        }
    }
    .pointK{
        width: 15px;
        height: 15px;
        background-color: var(--greenColor);
        border-radius: 50px;
        filter: blur(4px);
        position: absolute;
        top: 90%;
        left: 50%;
        opacity: 0.1;
    }
    .actionOneK{
        
        animation: action1K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionTwoK{
        animation: action2K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionThreeK{
        animation: action3K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionFourK{
        animation: action4K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionFiveK{
        animation: action5K 0.5s ease-in-out 0s 1 alternate;
    }
    
    .actionSixK{
        animation: action6K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionSevenK{
        animation: action7K 0.5s ease-in-out 0s 1 alternate;
    }
    
    .actionEightK{
        animation: action8K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionNineK{
        animation: action9K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionTenK{
        animation: action10K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionElevenK{
        animation: action11K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionTwelveK{
        animation: action12K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionThirthteenK{
        animation: action13K 0.5s ease-in-out 0s 1 alternate;
    }
    .actionFourthK{
        animation: action14K 0.2s ease-in-out 0s 1 alternate;
        
    }
    #socialContainer{
        display: none;
    }
}